/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

.sidebar-menu a.active {
  background-color: #9A1915; /* Gray-800 */
  color: #ffffff; /* White */
}
/* 
body {
  font-family: "Montserrat", sans-serif;
} */

.shadow-right-lg {
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}
