<!-- modal.component.html -->
<h1 mat-dialog-title style="text-align: center">
  Register {{ data.fname }} {{ data.mname }} {{ data.lname }}
</h1>

<!-- <div
  *ngIf="errorMessages['general']"
  class="bg-red-100 text-red-700 p-2 rounded mb-4"
>
  <ul>
    <li *ngFor="let errorMsg of errorMessages['general']">{{ errorMsg }}</li>
  </ul>
</div> -->
<hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
<div
  *ngIf="data"
  mat-dialog-content
  [ngStyle]="{ 'max-width': '75vw', width: '100%' }"
>
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 mb-4">
      <div class="relative">
        <label for="abfi_id" class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2">
          Employee ID
        </label>
        <input
          id="abfi_id"
          formControlName="abfi_id"
          placeholder="xxx-xxx"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        
        <!-- Display validation errors for the 'abfi_id' field -->
        <div *ngIf="userForm.get('abfi_id')?.touched && userForm.get('abfi_id')?.invalid" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngIf="userForm.get('abfi_id')?.errors?.['required']">Employee ID is required.</li>
            <li *ngIf="userForm.get('abfi_id')?.errors?.['pattern']">Employee ID must be in the format 000-000.</li>
            <li *ngIf="userForm.get('abfi_id')?.errors?.['maxlength']">Employee ID cannot exceed 7 characters.</li>
          </ul>
        </div>
      </div>
      

      <div class="relative">
        <label
          for="role_id"
          class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"
          >Select a Role</label
        >
        <select
          id="role_id"
          formControlName="role_id"
          name="role_id"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected disabled>Select a role</option>
          <option value="2">User</option>
          <option value="1">Admin</option>
        </select>
      
        <!-- Display validation errors for 'role_id' field -->
        <div *ngIf="userForm.get('role_id')?.touched && userForm.get('role_id')?.invalid" class="text-red-700 text-xs mt-1">
          <ul>
            <li *ngIf="userForm.get('role_id')?.errors?.['required']">Role is required.</li>
          </ul>
        </div>
      </div>
      
  
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
      <div class="relative">
        <label
          for="Firstname"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
        >First name</label>
        <input
          id="Firstname"
          formControlName="fname"  
          placeholder="Firstname"
          name="fname"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- Display validation errors for the 'fname' field -->
        <div
          *ngIf="userForm.get('fname')?.touched && userForm.get('fname')?.invalid"
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('fname')?.errors?.['required']">
              First name is required.
            </li>
          </ul>
        </div>
      </div>
  
    

      <div class="relative">
        <label
          for="Middlename"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
          >Middle Name</label
        >
        <input
          id="Middlename"
          formControlName="mname"
          placeholder="Middle Name"
          name="mname"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- Display validation errors for the 'mname' field -->
        <div
          *ngIf="
            userForm.get('mname')?.touched && userForm.get('mname')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('mname')?.errors?.['required']">
              Middle name is required.
            </li>
            <!-- You can add other specific error messages here, such as minlength or pattern -->
          </ul>
        </div>
      </div>

      <div class="relative">
        <label
          for="Lastname"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
          >Last Name</label
        >
        <input
          id="Lastname"
          formControlName="lname"
          placeholder="Last Name"
          name="lname"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        <!-- Display validation errors for the 'lname' field -->
        <div
          *ngIf="
            userForm.get('lname')?.touched && userForm.get('lname')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('lname')?.errors?.['required']">
              Last name is required.
            </li>
            <!-- You can add other specific error messages here, such as minlength or pattern -->
          </ul>
        </div>
      </div>
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-4">
      <div class="relative">
        <label
          for="department"
          class="block text-xs font-medium text-gray-700 dark:text-gray-300 mb-2"
          >Select a Department</label
        >
        <select
          id="department"
          formControlName="department"
          name="department"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected disabled>Select a department</option>
          <option value="CADO">Central for Administration Office</option>
          <option value="CAO">Central Accounting Office</option>
          <option value="CENLO">Central for Live Operation Office</option>
          <option value="CENTO">Central for Technical Office</option>
          <option value="CESSO">Central for Safety and Security Office</option>
          <option value="CHRADO">
            Central for Human Resources and Administration Office
          </option>
          <option value="CISDEVO">
            Central Information System Development Office
          </option>
          <option value="Dressing Plant">Dressing Plant</option>
          <option value="Executive">Executive Office</option>
          <option value="Logistics">Logistics</option>
          <option value="Sales and Marketing">Sales and Marketing</option>
          <option value="Auxiliary">Auxiliary</option>
          <option value="Blown Film Plant">Blown Film Plant</option>
          <option value="CHB">Concrete Hollow Block</option>
          <option value="Recycling">Recycling</option>
          <option value="Motorpool">Central Motorpool Division</option>
          <option value="EMD">Engineering and Maintenance Department</option>
          <option value="Can making">Can making</option>
          <option value="Ice Plant">Ice Plant</option>
          <option value="MPP">Meat Processing Plant</option>
          <option value="QA">Quality Assurance</option>
          <option value="Purchasing Department">Purchasing Department</option>
          <option value="PED">Planning & Project Engineering Department</option>
          <option value="Poultry Operations-FEM">
            Poultry Operations-Farm Engineering & Maintenance
          </option>
          <option value="PO-FEM">
            Poultry Operations-Farm Engineering & Maintenance
          </option>
          <option value="PO">Poultry Operations</option>
          <option value="FAIP">FAIP Administration</option>
          <option value="Procurement">Procurement Department</option>
          <option value="OON">Out of Nowhere</option>
          <option value="R&D">Research and Development Department</option>
          <option value="L&W">Logistics and Warehouse</option>
        </select>

        <!-- Display validation errors for the 'department' field -->
        <div
          *ngIf="
            userForm.get('department')?.touched &&
            userForm.get('department')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('department')?.errors?.['required']">
              Department is required.
            </li>
            <!-- Add other error messages here if any, like minlength or pattern -->
          </ul>
        </div>
      </div>

      <div class="relative">
        <label
          for="company"
          class="block text-xs font-medium text-gray-700 dark:text-gray-300 mb-2"
          >Select a Company</label
        >
        <select
          id="company"
          formControlName="company"
          name="company"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected disabled>Select a company</option>
          <option value="ABFI">Ana's Breeders Farms, Inc.</option>
          <option value="GSIII">
            Green Solution Integrated Industries Inc.
          </option>
          <option value="JPPI">Jomaray Pulp Packaging Industries</option>
          <option value="QPMI">Qualiproduct Marketing Inc.</option>
          <option value="SCC">SuyChicken Corporation</option>
          <option value="SFC">Southmin Feedmill Corporation</option>
          <option value="SZ">Subzero Ice & Cold Storage, Inc.</option>
          <option value="SGFFS">
            SuySarap Global Flavors & Food Services OPC
          </option>
        </select>

        <!-- Display validation errors for the 'company' field -->
        <div
          *ngIf="
            userForm.get('company')?.touched && userForm.get('company')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('company')?.errors?.['required']">
              Company is required.
            </li>
            <!-- You can add other error messages here if any (like minlength, pattern) -->
          </ul>
        </div>
      </div>

      <div class="relative">
        <label
          for="Position"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
          >Position</label
        >
        <input
          id="Position"
          formControlName="position"
          placeholder="Position"
          name="Position"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        <!-- Display validation errors for the 'position' field -->
        <div
          *ngIf="
            userForm.get('position')?.touched &&
            userForm.get('position')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('position')?.errors?.['required']">
              Position is required.
            </li>
            <!-- You can add other error messages here if needed, such as minlength or pattern -->
          </ul>
        </div>
      </div>
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <div class="relative">
        <label
          for="Emailadd"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
          >Email Address</label
        >
        <input
          id="Emailadd"
          formControlName="email_add"
          placeholder="Email Address"
          name="Emailadd"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        <!-- Display validation errors for 'email_add' field -->
        <div
          *ngIf="
            userForm.get('email_add')?.touched &&
            userForm.get('email_add')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('email_add')?.errors?.['required']">
              Email Address is required.
            </li>
            <li *ngIf="userForm.get('email_add')?.errors?.['email']">
              Please enter a valid email address.
            </li>
          </ul>
        </div>
      </div>

      <div class="relative">
        <div class="grid grid-cols-2">
          <div class="relative">
            <label
              for="Contactnum"
              class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
              >No.</label
            >
          </div>
        </div>
        <input
          id="Contactnum"
          formControlName="contact_num"
          placeholder="Contact Number"
          name="Contactnum"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        <!-- Display validation errors for 'contact_num' field -->
        <div
          *ngIf="
            userForm.get('contact_num')?.touched &&
            userForm.get('contact_num')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('contact_num')?.errors?.['required']">
              Contact Number is required.
            </li>
            <li *ngIf="userForm.get('contact_num')?.errors?.['pattern']">
              Contact number must be 11 digits long.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-2">
      <div class="relative">
        <label
          for="Username"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
          >Username</label
        >
        <input
          id="Username"
          formControlName="username"
          placeholder="Username"
          name="Username"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        <!-- Display validation errors for 'username' field -->
        <div
          *ngIf="
            userForm.get('username')?.touched &&
            userForm.get('username')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('username')?.errors?.['required']">
              Username is required.
            </li>
            <li *ngIf="userForm.get('username')?.errors?.['minlength']">
              Username must be at least 3 characters long.
            </li>
            <li *ngIf="userForm.get('username')?.errors?.['maxlength']">
              Username cannot exceed 20 characters.
            </li>
          </ul>
        </div>
      </div>

      <div class="relative">
        <label
          for="Password"
          class="block text-gray-700 text-xs dark:text-gray-300 font-medium mb-2"
          >Password</label
        >
        <input
          id="Password"
          formControlName="user_password"
          placeholder="Password"
          name="Password"
          type="password"
          class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        <!-- Display validation errors for 'user_password' field -->
        <div
          *ngIf="
            userForm.get('user_password')?.touched &&
            userForm.get('user_password')?.invalid
          "
          class="text-red-700 text-xs mt-1"
        >
          <ul>
            <li *ngIf="userForm.get('user_password')?.errors?.['required']">
              Password is required.
            </li>
            <li *ngIf="userForm.get('user_password')?.errors?.['minlength']">
              Password must be at least 6 characters long.
            </li>
            <li *ngIf="userForm.get('user_password')?.errors?.['maxlength']">
              Password cannot exceed 20 characters.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="save()">Save</button>
</div>
